@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  padding-top: 40px;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}


.main-index {
  background-color: #ffffff;
  background-size: 100% auto;
  width: 1160px;
}

.main-inner {
  background-size: 100% auto;
  width: 1160px;
}

.inner-header {
  width: 1079px;
}

.catalog-right-column {
  width: 840px;
}

.catalog-products {
  display: flex;
}

.filter {
  display: flex;
  margin-right: 40px;

}

.catalog-filter {
  width: 320px;
}


.page-header {
  display: flex;
  flex-direction: row;
  margin-right: 140px;
  margin-left: 140px;
  width: 1160px;
  color: #000000;
  background-color: #ffe17f;
}



.slider-item {
  display: flex;
}

.slider-carousel {
  display: flex;

}


.slider-img-wrapper {
  width: 560px;
}


.slider-content {
  width: 560px;
}



.slider-item-current {
  display: none;
}




.navigation-list-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  text-transform: none;

}

.navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: #ffe17f;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.slider-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.property {
  font-size: 36px;
  line-height: 30px;
}

.service {
  background: #f0f0f0;
}

.service-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;

}

.service-list {
  display: flex;
  flex-direction: column;
  width: 452px;

}

.service-content.active {
  display: flex;
  flex-direction: column;
  margin-left: 116px;
  margin-right: 106px;

}

.service-picture {
  width: 136px;
}

.service-content {
  display: none;
}


.service-picture-current {
  display: none;
}


.delivery {
  background: #f0f0f0;
  display: flex;
  margin: 70px auto;
  width: 1160px;
  height: 100px;

}

.delivery-container {
  display: flex;
  background: #ffe17f;
  width: 125px;
  height: 100px
}




.delivery-rare {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.background-categories {
  background: #ffe17f;
  width: 160px;
  height: 160px;
}

.categories {
  margin: 0 auto;
  width: 1160px;
}

.categories-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.categories-item {
  width: 160px;
}

.categories-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: inherit;
}



.service-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.information-wrapper {
  display: flex;
  margin: 0 auto 70px auto;
  text-align: start;
}

.about {
  width: 520px;
  margin-right: 108px;
}

.contacts {
  width: 530px;
}

.about-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-method {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
  text-decoration: none;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.newsletter {
  background: #f0f0f0;

}

.newsletter-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.newsletter-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsletter-title {
  display: flex;
  width: 350px;
  margin-right: 250px;
}

.newsletter-text {
  width: 560px;
}


.newsletter-form-container {
  display: flex;
}

.newsletter-form {
  display: flex;
  width: 557px;
}


.submit-inscription {
  margin: 0;
  padding-left: 32px;
}



.newsletter-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button-subscribe {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.page-footer {
  background: #444444;
  width: 100%;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-contacts {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: 0;

}

.button-service-social {
  display: flex;
  flex-direction: column;
  width: 445px;
}

.footer-navigation {
  display: flex;
  padding: 0;
}

.footer-social-list {
  display: flex;
}

.phone-htmlacademy-link {
  display: flex;
  flex-direction: column;
  width: 175px;
}




.contacts-address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.contacts-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}



.inner-header-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-filter {
  background: #f0f0f0;
}

.filter-headline {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.filter-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.sorting {
  background: #f0f0f0;
}

.sorting-headline {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
}

.pagination-load-more {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.pagination {
  background: #ebebeb;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
}

.pagination-prev {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-next {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}