@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  display: flex;
  padding-left: 60px;
  margin-top: -20px;
}

.navigation-container {
  width: 1040px;
  margin: 0 auto;
}

.navigation-header-user {
  display: flex;
  margin: 30px 0px 35px 0px;
}

.search {
  display: flex;
  width: 520px;
}

.search-field {
  width: 358px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0 8px 48px;
}

.button-submit {
  width: 158px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
}


.navigation-user-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  width: 520px;
}

.navigation-list-item-login {
  margin-left: 53px;
  flex-grow: 1;
}

.navigation-list-item-logout {
  margin-right: 62px;
}

.navigation-list-item-basket {
  margin-left: 61px;
  margin-right: auto;
}

.navigation-list-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
  text-transform: none;
}


.navigation-header-catalog {
  display: flex;
  width: 1040px;
  margin-bottom: 135px;
  flex-wrap: wrap;
}

.navigation-header-catalog-inner {
  margin-bottom: 40px;
}

.navigation-catalog-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  gap: 42px;
}

.navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  background-color: #ffe17f;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 0 4px 0;
}

.catalog-item {
  width: 100%;
}

.navigation-item {
  min-width: 128px;
}

.main-container {
  flex-grow: 1;
  width: 100%;
}

.page-header {
  margin-top: 40px;
  width: 1160px;
  background-color: #ffe17f;
}

.promo-slider {
  margin: 0 auto;
  margin-top: -148px;
  width: 1160px;
}

.slider-controls {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
}

.slider-img-wrapper {
  width: 560px;
  margin-right: 40px;
}

.slider-content {
  width: 560px;
}

.slider-item-current {
  display: flex;
  width: 1160px;
}

.slider-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 120px;
  margin-bottom: 30px;
}

.slider-description {
  margin-bottom: 50px;
}

.advantages {
  margin-top: 50px;
}

.button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.property {
  font-size: 36px;
  line-height: 30px;
}

.service {
  background: #f0f0f0;
  margin-bottom: 70px;
}


.service-container {
  display: flex;
  margin: 0 auto;
  width: 1160px;
}

.service-list {
  display: flex;
  flex-direction: column;
  width: 280px;
  list-style: none;
  gap: 42px;
  margin: 0 116px 0 0;
  padding: 72px 0 72px 0;
  flex-wrap: wrap;
}

.service-text-container {
  margin: 72px 0;
}

.service-content {
  display: none;
  flex-wrap: wrap;
  
}

.service-content.active {
  display: flex;
}


.service-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 0 34px 0;
}

.service-description {
  width: 456px;
}

.service-picture {
  margin: 72px 62px 72px 106px;
}

.delivery {
  margin: auto;
  width: 1160px;
}

.delivery-link {
  display: flex;
  background-color: #f0f0f0;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.delivery-rare {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.delivery-method {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.background-categories {
  display: flex;
  align-items: center;
  background: #ffe17f;
  width: 160px;
  height: 160px;
}

.categories {
  margin: 36px auto 70px auto;
  width: 1160px;
  flex-wrap: wrap;
}

.categories-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.categories-item {
  width: 160px;
}

.categories-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: inherit;
}

.categories-icon {
  margin: 0 auto;
}

.information-wrapper {
  width: 1160px;
  margin: 0 auto;
  
}
 .information-container {
  display: grid;
  grid-template-columns: 520px 530px; 
  justify-content: center;
  column-gap: 108px;
  margin: 70px 0 70px 0;
 }
 
.about {
  width: 520px;
  margin-right: 108px;
}

.contacts {
  width: 530px;
}

.about-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 47px 0 48px 0;
}

.about-description {
  margin: 30px 0 30px 0;
}

.delivery-method {
  margin-bottom: 40px;
  padding-left: 34px;
}

.delivery-method-item {
  margin-bottom: 19px;
}

.contacts-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin: 47px 0 48px 0;
}

.contacts-text {
  margin: 30px 0 30px 0;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #444444;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.contacts-worktime-item {
  margin: 0;
}

.contacts-worktime {
  margin-bottom: 30px;
}



.newsletter {
  background: #f0f0f0;
}

.newsletter-container {
  margin: 0 auto;
  width: 1160px;
}

.newsletter-title-container {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  align-items: center;
}

.newsletter-text {
  width: 560px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 98px;
  padding-bottom: 56px;
}

.newsletter-form-input {
  margin: 0;
  padding: 11px 0 14px 16px;
  width: 557px;
  font-family: "Rubik" , "Arial", sans-serif; 
  font-size: 18px;
  line-height: 30px;
}

.button-subscribe {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  min-width: 253px;
  padding: 17px 39px 17px 39px;
}

.submit-inscription {
  margin: 0;
  padding-left: 188px;
}

.newsletter-title {
  width: 350px;
  margin-right: 250px;
  margin-left: 5px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.page-footer {
  background: #444444;
  width: 100%;
}

.page-footer-wrapper {
  margin: 0 auto;
  width: 1160px;
}

.footer-logo {
  display: flex;
  width: 145px;
  height: 36px;
  margin-top: 62px;
}

.page-footer-container {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}

.footer-contacts-left {
  display: flex;
  width: 240px;
}

.footer-navigation-wrapper {
  width: 445px;
}

.footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 35px;
  list-style: none;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-contacts-right {
  display: flex;
  flex-direction: column;
}

.footer-contacts-address-text {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-navigation-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

.htmlacademy-link {
  margin: 62px 0 65px 60px;
}

.inner-header {
  width: 1080px;
  margin: 35px auto;
}

.inner-header-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-left: 18px;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: 18px;
  padding: 0;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-right: 36px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.filter-headline {
  margin: 0;
}

.filter-fieldset {
  border: none;
  margin-top: 35px;

  padding: 0;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-filter {
  margin-top: 35px;
}

.catalog-products {
  background-color: #f0f0f0;
}

.catalog-right-column {
  width: 840px;
  background-color: #ffffff;
}


.catalog-filter {
  width: 200px;
  list-style: none;
  padding: 25px 60px 650px 60px;
}

.filter-headline {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 181px 25px 0;
}

.filter-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 12px 103px 20px 0;
}

.filter-list-item:not(:last-child) {
  padding-bottom: 17px;
}

.sorting {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  margin-bottom: 26px;
}


.sorting-headline {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 25px 206px 25px 40px;
}

.sort-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-list-item {
  width: 30px;
  height: 30px;
}

.select-control {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-right: 206px;
}

.products {
  background-color: #ffffff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 44px 40px;
  padding: 0;
}

.product-card {
  margin-right: 40px;
  margin-top: 44px;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
  margin: 0;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.product-card-price {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-card-button {
  display: none;
}

.pagination-load-more {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  display: block;
  width: 760px;
  margin: 0 auto;
  padding: 18px 0;
}

.pagination-container {
  display: flex;
  width: 760px;
  margin: 44px auto 78px;
  background-color: #EBEBEB;
  justify-content: space-between;
}

.pagination {
  display: flex;
  background: #ebebeb;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
  align-items: center;
}

.pagination-link {
  display: block;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-decoration: none;
}

.button-pagination {
  padding: 0;
}

.pagination-back,
.pagination-forward {
  display: block;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 25px;
}